<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>

<h1>File upload </h1>
<a href="http://localhost:9001/api/components/search_projects"target="_blank">SonarQube PROJECTS LIST Page</a><br/><br/>
<!-- customize the following links to point to your project pages -->
<a href="http://localhost:9001/api/issues/search?componentKeys=za.co.nico:RabbitMqPoc&ps=500&p=1"target="_blank">RabbitMqPoc ISSUES Page1</a><br/>
<a href="http://localhost:9001/api/issues/search?componentKeys=za.co.nico:RabbitMqPoc&ps=500&p=2"target="_blank">RabbitMqPoc ISSUES Page2</a><br/><br/><br/><br/>
<!--  
<a href="http://10.2.29.231:9000/sonarqube/api/components/search_projects"target="_blank">SonarQube Projects list Page</a><br/><br/> 
<a href="http://10.2.29.231:9000/sonarqube/api/issues/search?componentKeys=com.curro:synergy-2.0&ps=500&p=1" target="_blank">Synergy Page 1</a><br/>
<a href="http://10.2.29.231:9000/sonarqube/api/issues/search?componentKeys=com.curro:synergy-2.0&ps=500&p=2" target="_blank">Synergy Page 2</a><br/>
<a href="http://10.2.29.231:9000/sonarqube/api/issues/search?componentKeys=com.curro:synergy-2.0&ps=500&p=3" target="_blank">Synergy Page 3</a><br/>
<a href="http://10.2.29.231:9000/sonarqube/api/issues/search?componentKeys=com.curro:synergy-2.0&ps=500&p=4" target="_blank">Synergy Page 4</a><br/>
<a href="http://10.2.29.231:9000/sonarqube/api/issues/search?componentKeys=com.curro:synergy-2.0&ps=500&p=5" target="_blank">Synergy Page 5</a><br/>
<a href="http://10.2.29.231:9000/sonarqube/api/issues/search?componentKeys=com.curro:synergy-2.0&ps=500&p=6" target="_blank">Synergy Page 6</a><br/><br/><br/>
-->
<form method="POST" action="/projects" enctype="multipart/form-data">
 <table>
        <tr>
            <td>&nbsp;</td><td><form:label path="file"><b>Select a PROJECTS LIST JSON file to upload : </b></form:label></td>
        </tr>
        <tr>
            <td>&nbsp;</td><td><input type="file" name="file" /><br/><br/></td>
        </tr>
        <tr>
           <td>&nbsp;</td><td><input type="submit" value="Submit" /></td>
        </tr>        
 </table>
</form>

<br/><br/><br/><br/>

<form method="POST" action="/issues" enctype="multipart/form-data">
 <table>
        <tr>
            <td>&nbsp;</td><td><form:label path="file"><b>Select a Project ISSUES JSON file to upload : </b></form:label></td>
        </tr>
        <tr>
            <td>&nbsp;</td><td><input type="file" name="file" /><br/><br/></td>
        </tr>
        <tr>
           <td>&nbsp;</td><td><input type="submit" value="Submit" /></td>
        </tr>         
 </table>
</form>

</body>
</html>
